{% load static %}

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Qazagrofood</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'jquery.fsscroll.css' %}">
    <!-- <script src="{% static 'sonpScroll.js' %}"></script> -->
</head>

<body>
    <div class="wrapper">
        {% block content %}
        {% endblock content %}
        <div class="section_title">Овощи</div>
        <div class="gridLayout">
            <div class="grid1"><img src="{% static '33.jpg' %}" alt=""></div>
            <div class="grid2"><img src="{% static '332.jpg' %}" alt=""></div>
            {% for i in data1 %}
                <div class="block block_{{forloop.counter}}">
                    <div class="action">
                        <div class="name">{{i.name}}</div>
                        <div class="action_top">
                            <div class="minus"  id="action_minus_" onClick="minus({{forloop.counter}}, 1)">-</div>
                            <div class="count" id="count_${i}"><span>{{i.count}}</span>кг</div>
                            <div class="plus" id="action_plus_" onClick="plus({{forloop.counter}}, 1)">+</div>
                        </div>
                        <div class="price">{{i.price}} ₸ <div class="price_{{forloop.counter}} price2"> </div></div>
                    </div>
    
                    {% comment %} <img class="img" src="{% static i.img %}"/> {% endcomment %}
                    {% comment %} <img class="img" src="../static/{{i.img}}"/> {% endcomment %}
          
                </div>
            {% endfor %}
        </div>
        
        <div class="section_title">Фрукты</div>
        <div class="gridLayout">
            <div class="grid3"><img src="{% static '33.jpg' %}" alt=""></div>
            {% for i in data2 %}
                <div class="block block2_{{forloop.counter}}">
                    <div class="action">
                        <div class="name">{{i.name}}</div>
                        <div class="action_top">
                            <div class="minus"  id="action_minus_" onClick="minus({{forloop.counter}}, 2)">-</div>
                            <div class="count" id="count_${i}"><span>{{i.count}}</span>кг</div>
                            <div class="plus" id="action_plus_" onClick="plus({{forloop.counter}}, 2)">+</div>
                        </div>
                        <div class="price">{{i.price}} ₸ <div class="price2_{{forloop.counter}} price2"> </div></div>
                    </div>
                    {% comment %} <img class="img" src="{% static i.img %}"/> {% endcomment %}
                     {% comment %} <img class="img" src="../static/{{i.img}}"/> {% endcomment %}
                </div>
            {% endfor %}
        </div>

        <div class="section_title2">Овощи</div>
        <div class="sfs">
            <div class="gridLayout2">
                {% for i in data1 %}
                    <div class="block sblock_{{forloop.counter}}">
                        <div class="action">
                            <div class="name">{{i.name}}</div>
                            <div class="action_top">
                                <div class="minus"  id="action_minus_" onClick="minus({{forloop.counter}}, 4)">-</div>
                                <div class="count" id="count_${i}"><span>{{i.count}}</span>кг</div>
                                <div class="plus" id="action_plus_" onClick="plus({{forloop.counter}}, 4)">+</div>
                            </div>
                            <div class="price">{{i.price}} ₸ <div class="sprice_{{forloop.counter}} price2"> </div></div>
                        </div>
        
                        {% comment %} <img class="img" src="{% static i.img %}"/> {% endcomment %}
                        {% comment %} <img class="img" src="../static/{{i.img}}"/> {% endcomment %}
            
                    </div>
                {% endfor %}
                {% for i in data2 %}
                    <div class="block ablock2_{{forloop.counter}}">
                        <div class="action">
                            <div class="name">{{i.name}}</div>
                            <div class="action_top">
                                <div class="minus"  id="action_minus_" onClick="minus({{forloop.counter}}, 3)">-</div>
                                <div class="count" id="count_${i}"><span>{{i.count}}</span>кг</div>
                                <div class="plus" id="action_plus_" onClick="plus({{forloop.counter}}, 3)">+</div>
                            </div>
                            <div class="price">{{i.price}} ₸ <div class="aprice2_{{forloop.counter}} price2"> </div></div>
                        </div>
                        {% comment %} <img class="img" src="{% static i.img %}"/> {% endcomment %}
                        {% comment %} <img class="img" src="../static/{{i.img}}"/> {% endcomment %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="summ_div">Всего: <div class="summ">0</div> ₸</div>

        <div class="doOrder">
            <div onClick="doorder()">
                Далее
            </div>
        </div>

        <div class="modal">
            <form>
                {% csrf_token %}
                <div class="close" onClick="doorder()">&times;</div>
                {% comment %} <div class="modal_title">title</div> {% endcomment %}
                <div class="input_name">
                    <div><label for="name">Как к вам обращаться? (впишите свое Имя):</label></div>
                    <input placeholder="Имя..." id="name" type="name"></input>
                    <div class="error_name"></div>
                </div>
                <div class="input_phone">
                    <div><label for="phone">Телефон:</label></div>
                    <input placeholder="Телефон..." id="phone" type="text"></input>
                    <div class="error_phone"></div>
                </div>

                {% comment %} <div class="input_raion">
                    <div><label for="area">Район: </label></div>
                    <input placeholder="Район" id="area" type="text"></input>
                </div> {% endcomment %}

                <div class="input_phone">
                    <div><label for="address">Напишите полный адрес: улица, дом, название организации:</label></div>
                    <input placeholder="Адрес..." id="address" type="text"></input>
                    <div class="error_address"></div>
                </div>
                <div class="myorder"></div>
                <div onClick="dodo()"><button>Отправить</button></div>
            </form>
        </div>
    </div>
{% block javascript %}
{% endblock javascript %}

{% comment %} <script src="{% static 'script.js' %}"></script> {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'jquery.fsscroll.js' %}"></script>
<script type="text/javascript">
    data1 = {{ data1|safe }};
    data2 = {{ data2|safe }};
    razdel = {{ razdel|safe }};
    let summ = 0
    let gridd = document.querySelector('.gridLayout2')
    var currentLocation = 'firstPage';
    // No need to set these inside the event listener since they are always the same.
    let wd = $('.gridLayout2').width() 
    $( ".gridLayout2" ).scroll(function() {
        let scrolled = $(".gridLayout2").scrollLeft()
        if (scrolled > wd*3-200){
            $('.section_title2').text("Фрукты")
        }
        else{
            $('.section_title2').text("Овощи")
        }
        let vegetablesSection = document.querySelector('.gridLayout2')
        if(vegetablesSection.scrollLeft >= 50 && vegetablesSection.scrollLeft <= 150) {
          vegetablesSection.scrollTo(wd+20, 0)
        }
        else if(vegetablesSection.scrollLeft >= wd+100 && vegetablesSection.scrollLeft <= wd+150) {
          vegetablesSection.scrollTo(wd*2+20, 0)
        }
        else if(vegetablesSection.scrollLeft >= wd*2+100 && vegetablesSection.scrollLeft <= wd*2+150) {
          vegetablesSection.scrollTo(wd*3+20, 0)
        }
        else if(vegetablesSection.scrollLeft >= wd*3+100 && vegetablesSection.scrollLeft <= wd*3+150) {
          vegetablesSection.scrollTo(wd*4+20, 0)
        }
        else if(vegetablesSection.scrollLeft <= wd*4-50 && vegetablesSection.scrollLeft >= wd*4-150) {
          vegetablesSection.scrollTo(wd*3+20, 0)
        }
        else if(vegetablesSection.scrollLeft <= wd*3-50 && vegetablesSection.scrollLeft >= wd*3-150) {
          vegetablesSection.scrollTo(wd*2+20, 0)
        }
        else if(vegetablesSection.scrollLeft <= wd*2-50 && vegetablesSection.scrollLeft >= wd*2-150) {
          vegetablesSection.scrollTo(wd+20, 0)
        }
        else if(vegetablesSection.scrollLeft <= wd-50 && vegetablesSection.scrollLeft >= wd-150) {
          vegetablesSection.scrollTo(0, 0)
        }
    });      

    function minus(i, section){
        i = i- 1
        let d = document.querySelector('.summ')
        let a = event.srcElement.parentNode.children[1].children[0]
        if (section == 1){
            let priced = parseInt(data1[i].price.replace(/\s/g, ''))
            if (data1[i].count != 0){
                data1[i].count = data1[i].count - 1
                summ = summ - priced
                d.innerText = summ
            }        
            if (a.innerText != "0"){
                a.innerText = parseInt(a.innerText) - 1
            }
            let asd = document.querySelector(`.block_${i+1} .action`)
            let asds = document.querySelector(`.price_${i+1}`)
            if (data1[i].count != 0){
                asd.style.display = "flex"
                asds.innerText = "  > " + priced * data1[i].count + " ₸"
            }
            else{
                asd.style.display = "none"
                asds.innerText = ""
            }
        }
        else if(section == 2){
            let priced = parseInt(data2[i].price.replace(/\s/g, ''))
            if (data2[i].count != 0){
                data2[i].count = data2[i].count - 1
                summ = summ - priced
                d.innerText = summ
            }        
            
            if (a.innerText != "0"){
                a.innerText = parseInt(a.innerText) - 1 
            }

            let asd = document.querySelector(`.block2_${i+1} .action`)
            let asds = document.querySelector(`.price2_${i+1}`)
            if (data2[i].count != 0){
                asd.style.display = "flex"
                asds.innerText = "  > " + priced * data2[i].count + " ₸"
            }
            else{
                asd.style.display = "none"
                asds.innerText = ""
            }
        }
        else if (section == 3){
            let priced = parseInt(data2[i].price.replace(/\s/g, ''))
            if (data2[i].count != 0){
                data2[i].count = data2[i].count - 1
                summ = summ - priced
                d.innerText = summ
            }        
            
            if (a.innerText != "0"){
                a.innerText = parseInt(a.innerText) - 1 
            }

            let asd = document.querySelector(`.ablock2_${i+1} .action`)
            let asds = document.querySelector(`.aprice2_${i+1}`)
            if (data2[i].count != 0){
                asd.style.display = "flex"
                asds.innerText = "  > " + priced * data2[i].count + " ₸"
            }
            else{
                asd.style.display = "none"
                asds.innerText = ""
            }
        }
        else{
            let priced = parseInt(data1[i].price.replace(/\s/g, ''))
            if (data1[i].count != 0){
                data1[i].count = data1[i].count - 1
                summ = summ - priced
                d.innerText = summ
            }        
            if (a.innerText != "0"){
                a.innerText = parseInt(a.innerText) - 1
            }
            let asd = document.querySelector(`.sblock_${i+1} .action`)
            let asds = document.querySelector(`.sprice_${i+1}`)
            if (data1[i].count != 0){
                asd.style.display = "flex"
                asds.innerText = "  > " + priced * data1[i].count + " ₸"
            }
            else{
                asd.style.display = "none"
                asds.innerText = ""
            }
        }
    }
    function plus(i, section){
        i = i - 1
        let a = event.srcElement.parentNode.children[1].children[0]
        let d = document.querySelector('.summ')
        if (section == 1){
            let price = parseInt(data1[i].price.replace(/\s/g, ''))
            a.innerText = parseInt(a.innerText) + 1
            data1[i].count = data1[i].count + 1
            summ = summ + price
            d.innerText = summ

            let asd = document.querySelector(`.block_${i+1} .action`)
            console.log(asd.parentNode.parentNode)
            asd.style.display = "flex"

            let asds = document.querySelector(`.price_${i+1}`)
            asds.innerText = "  > " + price * data1[i].count + " ₸"
        }
        else if (section == 2) {
            let price = parseInt(data2[i].price.replace(/\s/g, ''))
            a.innerText = parseInt(a.innerText) + 1
            data2[i].count = data2[i].count + 1
            summ = summ + price
            
            d.innerText = summ

            let asd = document.querySelector(`.block2_${i+1} .action`)
            asd.style.display = "flex"

            let asds = document.querySelector(`.price2_${i+1}`)
            asds.innerText = "  > " + price * data2[i].count + " ₸"
        }
        else if(section == 3){
            let price = parseInt(data2[i].price.replace(/\s/g, ''))
            a.innerText = parseInt(a.innerText) + 1
            data2[i].count = data2[i].count + 1
            summ = summ + price
            
            d.innerText = summ

            let asd = document.querySelector(`.ablock2_${i+1} .action`)
            asd.style.display = "flex"

            let asds = document.querySelector(`.aprice2_${i+1}`)
            asds.innerText = "  > " + price * data2[i].count + " ₸"
        }
        else{
            let price = parseInt(data1[i].price.replace(/\s/g, ''))
            a.innerText = parseInt(a.innerText) + 1
            data1[i].count = data1[i].count + 1
            summ = summ + price
            d.innerText = summ

            let asd = document.querySelector(`.sblock_${i+1} .action`)
            console.log(asd.parentNode.parentNode)
            asd.style.display = "flex"

            let asds = document.querySelector(`.sprice_${i+1}`)
            asds.innerText = "  > " + price * data1[i].count + " ₸"
        }
    }

    function doorder(){
        let modal = document.querySelector('.modal')
        let txt = ""
        let sumall = 0
        
        modal.classList.toggle('show')
    }

    function dodo() {
        event.preventDefault();
        let name = document.querySelector('#name')
        let address = document.querySelector('#address')
        let phone =  document.querySelector('#phone')
        if (name.value.length < 3){
            name.classList.add('error')
            document.querySelector('.error_name').innerText = "Заполните поле"
        }
        else if (address.value.length < 3){
            address.classList.add('error')
            document.querySelector('.error_address').innerText = "Заполните поле"
        }
        else{
            name.classList.remove('error')
            address.classList.remove('error')
            document.querySelector('.error_name').innerText = ""
            document.querySelector('.error_address').innerText = ""
            $.ajax({
                type: 'POST',
                url: "{% url 'add' %}",
                data: {
                    name: name.value,
                    address: address.value,
                    phone: phone.value,
                    summ: document.querySelector('.summ').innerText,
                    razdel: razdel,
                    data1: JSON.stringify(data1),
                    data2: JSON.stringify(data2),
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                },
                success: function (response) {
                console.log("success")
                },
                error: function (response) {
                    console.log("error")                
                }
            })
        }
    }
</script>
</body>
</html>