{% load static %}

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
</head>

<body>
    <div class="wrapper">
        {% block content %}
        {% endblock content %}
        <div class="section_title">Овощи</div>
        <div class="gridLayout">
            {% for i in data1 %}
                <div class="block block_{{forloop.counter}}">
                    <div class="action">
                        <div class="name">{{i.name}}</div>
                        <div class="action_top">
                            <div class="minus"  id="action_minus_" onClick="minus({{forloop.counter}}, 1)">-</div>
                            <div class="count" id="count_${i}">{{i.count}}</div>
                            <div class="plus" id="action_plus_" onClick="plus({{forloop.counter}}, 1)">+</div>
                        </div>
                        <div class="price">{{i.price}} ₸ <div class="price_{{forloop.counter}} price2"> </div></div>
                    </div>
    
                    {% comment %} <img class="img" src="{% static i.img %}"/> {% endcomment %}
                    <img class="img" src="../static/{{i.img}}"/>
          
                </div>
            {% endfor %}
        </div>
        
        <div class="section_title">Фрукты</div>
        <div class="gridLayout">
            {% for i in data2 %}
                <div class="block block2_{{forloop.counter}}">
                    <div class="action">
                        <div class="name">{{i.name}}</div>
                        <div class="action_top">
                            <div class="minus"  id="action_minus_" onClick="minus({{forloop.counter}}, 2)">-</div>
                            <div class="count" id="count_${i}">{{i.count}}</div>
                            <div class="plus" id="action_plus_" onClick="plus({{forloop.counter}}, 2)">+</div>
                        </div>
                        <div class="price">{{i.price}} ₸ <div class="price2_{{forloop.counter}} price2"> </div></div>
                    </div>
                    {% comment %} <img class="img" src="{% static i.img %}"/> {% endcomment %}
                     <img class="img" src="../static/{{i.img}}"/>
                </div>
            {% endfor %}
        </div>

        <div class="summ_div">Всего: <div class="summ">0</div> ₸</div>

        <div class="doOrder">
            <div onClick="doorder()">
                Далее
            </div>
        </div>

        <div class="modal">
            <form>
                {% csrf_token %}
                <div class="close" onClick="doorder()">&times;</div>
                <div class="modal_title">title</div>
                <div class="input_name">
                    <div><label for="name">Как к вам обращаться? (впишите свое Имя):</label></div>
                    <input placeholder="Имя..." id="name" type="name"></input>
                    <div class="error_name"></div>
                </div>
                <div class="input_phone">
                    <div><label for="phone">Телефон:</label></div>
                    <input placeholder="Телефон..." id="phone" type="number"></input>
                    <div class="error_phone"></div>
                </div>

                {% comment %} <div class="input_raion">
                    <div><label for="area">Район: </label></div>
                    <input placeholder="Район" id="area" type="text"></input>
                </div> {% endcomment %}

                <div class="input_phone">
                    <div><label for="address">Напишите полный адрес: улица, дом, название организации:</label></div>
                    <input placeholder="Адрес..." id="address" type="text"></input>
                    <div class="error_address"></div>
                </div>
                <div class="myorder"></div>
                <div onClick="dodo()"><button>Отправить</button></div>
            </form>
        </div>
    </div>
{% block javascript %}
{% endblock javascript %}

{% comment %} <script src="{% static 'script.js' %}"></script> {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    data1 = {{ data1|safe }};
    data2 = {{ data2|safe }};
    razdel = {{ razdel|safe }};
    let summ = 0

    function minus(i, section){
        i = i- 1
        let d = document.querySelector('.summ')
        let a = event.srcElement.parentNode.children[1]
        if (section == 1){
            let priced = parseInt(data1[i].price.replace(/\s/g, ''))
            if (data1[i].count != 0){
                data1[i].count = data1[i].count - 1
                summ = summ - priced
                d.innerText = summ
            }        
            if (a.innerText != "0"){
                a.innerText = parseInt(a.innerText) - 1 
            }

            let asd = document.querySelector(`.block_${i+1} .action`)
            let asds = document.querySelector(`.price_${i+1}`)
            if (data1[i].count != 0){
                asd.style.display = "flex"
                asds.innerText = "  > " + priced * data1[i].count + " ₸"
            }
            else{
                asd.style.display = "none"
                asds.innerText = ""
            }
        }
        else{
            let priced = parseInt(data2[i].price.replace(/\s/g, ''))
            if (data2[i].count != 0){
                data2[i].count = data2[i].count - 1
                summ = summ - priced
                d.innerText = summ
            }        
            
            if (a.innerText != "0"){
                a.innerText = parseInt(a.innerText) - 1 
            }

            let asd = document.querySelector(`.block2_${i+1} .action`)
            let asds = document.querySelector(`.price2_${i+1}`)
            if (data2[i].count != 0){
                asd.style.display = "flex"
                asds.innerText = "  > " + priced * data2[i].count + " ₸"
            }
            else{
                asd.style.display = "none"
                asds.innerText = ""
            }
        }        
    }
    function plus(i, section){
        i = i - 1
        let a = event.srcElement.parentNode.children[1]
        let d = document.querySelector('.summ')
        if (section == 1){
            let price = parseInt(data1[i].price.replace(/\s/g, ''))
            a.innerText = parseInt(a.innerText) + 1 
            data1[i].count = data1[i].count + 1
            summ = summ + price
            d.innerText = summ

            let asd = document.querySelector(`.block_${i+1} .action`)
            asd.style.display = "flex"

            let asds = document.querySelector(`.price_${i+1}`)
            asds.innerText = "  > " + price * data1[i].count + " ₸"
        }
        else {
            let price = parseInt(data2[i].price.replace(/\s/g, ''))
            a.innerText = parseInt(a.innerText) + 1 
            data2[i].count = data2[i].count + 1
            summ = summ + price
            
            d.innerText = summ

            let asd = document.querySelector(`.block2_${i+1} .action`)
            asd.style.display = "flex"

            let asds = document.querySelector(`.price2_${i+1}`)
            asds.innerText = "  > " + price * data2[i].count + " ₸"
        }        
    }

    function doorder(){
        let modal = document.querySelector('.modal')
        let txt = ""
        let sumall = 0
        
        modal.classList.toggle('show')
    }

    function dodo() {
        event.preventDefault();
        let name = document.querySelector('#name')
        let address = document.querySelector('#address')
        let phone =  document.querySelector('#phone')
        if (name.value.length < 3){
            name.classList.add('error')
            document.querySelector('.error_name').innerText = "Заполните поле"
        }
        else if (address.value.length < 3){
            address.classList.add('error')
            document.querySelector('.error_address').innerText = "Заполните поле"
        }
        else{
            name.classList.remove('error')
            address.classList.remove('error')
            document.querySelector('.error_name').innerText = ""
            document.querySelector('.error_address').innerText = ""
            $.ajax({
                type: 'POST',
                url: "{% url 'add' %}",
                data: {
                    name: name.value,
                    address: address.value,
                    phone: phone.value,
                    summ: document.querySelector('.summ').innerText,
                    razdel: razdel,
                    data1: JSON.stringify(data1),
                    data2: JSON.stringify(data2),
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                },
                success: function (response) {
                console.log("success")
                },
                error: function (response) {
                    console.log("error")                
                }
            })
        }
    }
</script>
</body>
</html>