{% load static %}
{% load mathfilters %}
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Qazagrofood</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body ontouchstart>
    <div class="wrapper">
        {% block content %}
        {% endblock content %}
        

        <section class="alerts">
            <div class="alert_img"><img src="{% static 'ava.png' %}" alt=""></div>
            <div class="alerts_text">
                <h3>Здравствуй, дорогой покупатель!</h3>
                <div>Меня зовут Санжар! Я основатель компании “Qazagrofood”. Сейчас, я помогу тебе оформить заказ!</div>
            </div>
            <div class="alert_btns">
                <div class="btn_next" onclick="showNext()">Далее</div>
                <div class="btn_noshow" onclick="document.querySelector('.alerts').classList.remove('flex'); localStorage.setItem('alert', true)">Пропустить</div>
            </div>
        </section>

        <div class="line1"><img src="{% static 'Arrow1.png' %}" alt=""></div>
        <div class="line2"><img src="{% static 'Arrow2.png' %}" alt=""></div>
        
        <section class="alert2">
            <div class="alert_img"><img src="{% static 'ava.png' %}" alt=""></div>
            <div class="alerts_text">
                <div>Чтобы увидеть информацию о товаре нажмите на нее! Далее увеличивать или убавлять количество продукции можно через кнопки -,+ </div>
            </div>
            <div class="alert_btns">
                <div class="btn_next" onclick="nextAlert3()"> Далее</div>
                <div class="btn_noshow" onclick="
                document.querySelector('.alert2').classList.remove('show');
                document.querySelector('.line1').style.display='none';
                document.querySelector('.line2').style.display='none'">Пропустить</div>
            </div>
        </section>

        <section class="alert3">
            <div class="line3"><img src="{% static 'Arrow3.png' %}" alt=""></div>
            <div class="alert_img"><img src="{% static 'ava.png' %}" alt=""></div>
            <div class="alerts_text">
                <div>Теперь, когда вы выбрали нужное количество продукции, можете пролистать до конца списка и нажать на кнопку “Далее” и в появившемся списке проверить количество еще раз!</div>
            </div>
            <div class="alert_btns">
                <div class="btn_next" onclick="document.querySelector('.alert3').style.display='none'; 
                document.querySelector('.line3').style.display = 'none';enableScroll()">Далее</div>
                <div class="btn_noshow" onclick="
                    document.querySelector('.alert3').style.display='none'
                    document.querySelector('.line3').style.display = 'none'
                    enableScroll()
                    ">Пропустить</div>
            </div>
        </section>
        
        <div class="section_title">Овощи</div>
        <div class="gridLayout">
            <div class="grid1"><img src="{% static '33.jpg' %}" alt=""></div>
            <div class="grid2"><img src="{% static '332.jpg' %}" alt=""></div>
            {% for i in data1 %}
                <div class="block block_{{forloop.counter}}">
                    <div class="name">{{i.name}}</div>
                    <div class="action">
                        
                        <div class="action_top">
                            <div class="minus"  id="action_minus_" onClick="minus({{forloop.counter}}, 1)">-</div>
                            <div class="count" id="count_${i}"><span>{{i.count}}</span>кг</div>
                            <div class="plus" id="action_plus_" onClick="plus({{forloop.counter}}, 1)">+</div>
                        </div>
                        <div class="price">{{i.price}} ₸ <div class="price_{{forloop.counter}} price2"> </div></div>
                    </div>
    
                    {% comment %} <img class="img" src="{% static i.img %}"/> {% endcomment %}
                    {% comment %} <img class="img" src="../static/{{i.img}}"/> {% endcomment %}
          
                </div>
            {% endfor %}
        </div>
        
        <div class="section_title">Фрукты</div>
        <div class="gridLayout">
            <div class="grid3"><img src="{% static 'fruckts.jpg' %}" alt=""></div>
            {% for i in data2 %}
                <div class="block block2_{{forloop.counter}}">
                    <div class="name">{{i.name}}</div>
                    <div class="action">
                        
                        <div class="action_top">
                            <div class="minus"  id="action_minus_" onClick="minus({{forloop.counter}}, 2)">-</div>
                            <div class="count" id="count_${i}"><span>{{i.count}}</span>кг</div>
                            <div class="plus" id="action_plus_" onClick="plus({{forloop.counter}}, 2)">+</div>
                        </div>
                        <div class="price">{{i.price}} ₸ <div class="price2_{{forloop.counter}} price2"> </div></div>
                    </div>
                    {% comment %} <img class="img" src="{% static i.img %}"/> {% endcomment %}
                     {% comment %} <img class="img" src="../static/{{i.img}}"/> {% endcomment %}
                </div>
            {% endfor %}
        </div>

        <div class="section_title">Зелень</div>
        <div class="gridLayout">
            <div class="grid3"><img src="{% static 'zelen.jpg' %}" alt=""></div>
            {% for i in data3 %}
                <div class="block block3_{{forloop.counter}}">
                    <div class="name">{{i.name}}</div>
                    <div class="action">
                        <div class="action_top">
                            <div class="minus"  id="action_minus_" onClick="minus({{forloop.counter}}, 5)">-</div>
                            <div class="count" id="count_${i}"><span>{{i.count}}</span>кг</div>
                            <div class="plus" id="action_plus_" onClick="plus({{forloop.counter}}, 5)">+</div>
                        </div>
                        <div class="price">{{i.price}} ₸ <div class="price_{{forloop.counter}} price3"> </div></div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <div class="left" onclick="left()"> &#8249 <span>пред</span> </div>
        <div class="right" onclick="right()"><span>след</span>  &#8250 </div>
        <div class="section_title2">Овощи</div>
        <div class="sfs">
            <div class="gridLayout2">
                <div class="grid21">
                {% for i in data1 %}
                    {% if forloop.counter <= 9 %}
                    <div class="block sblock_{{forloop.counter}}">
                        <div class="name">{{i.name}}</div>
                        <div class="action">
                            
                            <div class="action_top">
                                <div class="minus"  id="action_minus_" onClick="minus({{forloop.counter}}, 4)">-</div>
                                <div class="count" id="count_${i}"><span>{{i.count}}</span>кг</div>
                                <div class="plus" id="action_plus_" onClick="plus({{forloop.counter}}, 4)">+</div>
                            </div>
                            <div class="price">{{i.price}} ₸ <div class="sprice_{{forloop.counter}} price2"> </div></div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
                
                <div class="grid21">
                    {% for i in data1 %}
                        {% if forloop.counter > 9 and forloop.counter <= 18 %}
                        <div class="block sblock_{{forloop.counter}}">
                            <div class="name">{{i.name}}</div>
                            <div class="action">
                                
                                <div class="action_top">
                                    <div class="minus"  id="action_minus_" onClick="minus({{forloop.counter}}, 4)">-</div>
                                    <div class="count" id="count_${i}"><span>{{i.count}}</span>кг</div>
                                    <div class="plus" id="action_plus_" onClick="plus({{forloop.counter}}, 4)">+</div>
                                </div>
                                <div class="price">{{i.price}} ₸ <div class="sprice_{{forloop.counter}} price2"> </div></div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="grid21">
                {% for i in data2 %}
                    <div class="block ablock2_{{forloop.counter}}">
                        <div class="name">{{i.name}}</div>
                        <div class="action">
                            
                            <div class="action_top">
                                <div class="minus"  id="action_minus_" onClick="minus({{forloop.counter}}, 3)">-</div>
                                <div class="count" id="count_${i}"><span>{{i.count}}</span>кг</div>
                                <div class="plus" id="action_plus_" onClick="plus({{forloop.counter}}, 3)">+</div>
                            </div>
                            <div class="price">{{i.price}} ₸ <div class="aprice2_{{forloop.counter}} price2"> </div></div>
                        </div>
                        {% comment %} <img class="img" src="{% static i.img %}"/> {% endcomment %}
                        {% comment %} <img class="img" src="../static/{{i.img}}"/> {% endcomment %}
                    </div>
                {% endfor %}
                </div>

                <div class="grid21">
                    {% for i in data3 %}
                        <div class="block ablock3_{{forloop.counter}}">
                            <div class="name">{{i.name}}</div>
                            <div class="action">
                                
                                <div class="action_top">
                                    <div class="minus"  id="action_minus_" onClick="minus({{forloop.counter}}, 6)">-</div>
                                    <div class="count" id="count_${i}"><span>{{i.count}}</span>кг</div>
                                    <div class="plus" id="action_plus_" onClick="plus({{forloop.counter}}, 6)">+</div>
                                </div>
                                <div class="price">{{i.price}} ₸ <div class="price_{{forloop.counter}} price2"> </div></div>
                            </div>
                            {% comment %} <img class="img" src="{% static i.img %}"/> {% endcomment %}
                            {% comment %} <img class="img" src="../static/{{i.img}}"/> {% endcomment %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="summ_div">Всего: <div class="summ">0</div> ₸</div>

        <div class="doOrder">
            <div onClick="doorderChech()" id="doOrderBtn">
                Далее
            </div>
        </div>

        <div class="modal modal1">
            <div class="modalOne">
                <div class="listCheckItems_sec">
                    <div class="listCheckItems">                        
                    </div>
                    <div class="modalOnePrices">Итого: <span class="modalOnePrice"></span> ₸</div>
                </div>
                <div class="modalOneBtn">
                    <button onclick="nextModal()" class="checkBtn">Верно</button>
                    <button onclick="doorderChech()">Назад</button>
                </div>
            </div>
        </div>

        <div class="modal modal2">
            <form>
                {% csrf_token %}
                <div class="close" onClick="document.querySelector('.modal2').classList.toggle('show')">&times;</div>
                {% comment %} <div class="modal_title">title</div> {% endcomment %}
                <div class="input_name">
                    <div><label for="name">Как к вам обращаться? (впишите свое Имя):</label></div>
                    <input placeholder="Имя..." id="name" type="name"></input>
                    <div class="error_name"></div>
                </div>
                <div class="input_phone">
                    <div><label for="phone">Телефон:</label></div>
                    <input placeholder="Телефон..." id="phone" type="text"  maxlength="11">
                    <div class="error_phone"></div>
                </div>

                {% comment %} <div class="input_raion">
                    <div><label for="area">Район: </label></div>
                    <input placeholder="Район" id="area" type="text">
                </div> {% endcomment %}

                <div class="input_phone">
                    <div><label for="address">Адрес доставки: улица, дом, название организации:</label></div>
                    <input placeholder="Адрес доставки..." id="address" type="text">
                    <div class="error_address"></div>
                </div>
                <div class="myorder"></div>
                <div onClick="dodo()"><button>Отправить</button></div>
            </form>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    data1 = {{ data1|safe }};
    data2 = {{ data2|safe }};
    data3 = {{ data3|safe }};
    razdel = {{ razdel|safe }};
    let summ = 0
    
    let alert1 = document.querySelector('.alerts')
    // localStorage.setItem('alert', false)
    let ls = localStorage.getItem('alert')
    if (ls == "false"){
        console.log("afaf")
        alert1.classList.add('flex')
    }
    let alert2 = document.querySelector('.alert2')
    let line1 = document.querySelector('.line1')
    let line2 = document.querySelector('.line2')
    let block4 = document.querySelector(".block_4").children[1]
    let block22 = document.querySelectorAll(".grid21")[0]
    let sblock4 = block22.children[3].children[1]
    let doOrderBtn = document.querySelector('#doOrderBtn')
    function alerts_size(){
        if (window.innerWidth < 580){
            console.log(sblock4)
            sblock4.style.display = "flex"
            let blminus = sblock4.children[0].children[0].getBoundingClientRect()
            let blplus = sblock4.children[0].children[2].getBoundingClientRect()
            // line1.style.top = `${blminus.top-10}px`
            line1.style.width = `${Math.abs(blminus.left-alert2.getBoundingClientRect().left)}px`
            // line2.style.top = `${blplus.top+70}px`
            line2.style.width = `${Math.abs(blplus.left-alert2.getBoundingClientRect().left)}px`
        }else{
            block4.style.display = "flex"
            let blminus = block4.children[0].children[0].getBoundingClientRect()
            let blplus = block4.children[0].children[2].getBoundingClientRect()
            line1.style.top = `${blminus.top-20}px`
            line1.style.width = `${Math.abs(blminus.left-alert2.getBoundingClientRect().left)}px`
            console.log(alert2.getBoundingClientRect().left)
            line2.style.top = `${blplus.top+80}px`
            line2.style.width = `${Math.abs(blplus.left-alert2.getBoundingClientRect().left)}px`
        }
    }
    window.addEventListener('resize', function(e){
        alerts_size()
    })
    function disableScroll() { 
        // Get the current page scroll position 
        scrollTop =  
            window.pageYOffset || document.documentElement.scrollTop; 
        scrollLeft =  
            window.pageXOffset || document.documentElement.scrollLeft, 

            // if any scroll is attempted, 
            // set this to the previous value 
            window.onscroll = function() { 
                window.scrollTo(scrollLeft, scrollTop); 
            }; 
    } 

    function enableScroll() { 
        window.onscroll = function() {}; 
    }


    function showNext(){        
        alert1.classList.remove('flex')
        alert2.classList.add('show')
        line1.style.display = "block"
        line2.style.display = "block"
        localStorage.setItem('alert', true)
        alerts_size()
    }
    function nextAlert3(){
        alert2.classList.remove("show")
        block4.style.display = "none"
        sblock4.style.display = "none"
        document.querySelector('.alert3').style.display = "flex"
        line1.style.display = "none"
        line2.style.opacity = "none"
        document.querySelector('.line3').style.display = "block"
        doOrderBtn.scrollIntoView({behavior:'smooth'})
        setTimeout(disableScroll, 1000)
        // setTimeout(enableScroll, 1200)
    }

    let grid = document.querySelector('.gridLayout2')
    let wd = window.innerWidth
    let leftcount=0,rightcount=0
    function left(){
        grid.scrollBy({
            left: -wd,
            behavior: "smooth"
        })
    }
    function right(){
        grid.scrollBy({
            left: wd+1,
            behavior: "smooth"
        })
    }

    $( ".gridLayout2" ).scroll(function() {
        let scrolled = $(".gridLayout2").scrollLeft()
        if (scrolled > wd*3-200){
            $('.section_title2').text("Фрукты")
        }
        else{
            $('.section_title2').text("Овощи")
        }
    });      

    function minus(i, section){
        i = i- 1
        let d = document.querySelector('.summ')
        let a = event.srcElement.parentNode.children[1].children[0]
        if (section == 1){
            let priced = parseInt(data1[i].price.replace(/\s/g, ''))
            if (data1[i].count != 0){
                data1[i].count = data1[i].count - 1
                summ = summ - priced
                d.innerText = summ
            }        
            if (a.innerText != "0"){
                a.innerText = parseInt(a.innerText) - 1
            }
            let asd = document.querySelector(`.block_${i+1} .action`)
            let asds = document.querySelector(`.price_${i+1}`)
            if (data1[i].count != 0){
                asd.style.display = "flex"
                asds.innerText = "  > " + priced * data1[i].count + " ₸"
            }
            else{
                asd.style.display = "none"
                asds.innerText = ""
            }
        }
        else if(section == 2){
            let priced = parseInt(data2[i].price.replace(/\s/g, ''))
            if (data2[i].count != 0){
                data2[i].count = data2[i].count - 1
                summ = summ - priced
                d.innerText = summ
            }        
            
            if (a.innerText != "0"){
                a.innerText = parseInt(a.innerText) - 1 
            }

            let asd = document.querySelector(`.block2_${i+1} .action`)
            let asds = document.querySelector(`.price2_${i+1}`)
            if (data2[i].count != 0){
                asd.style.display = "flex"
                asds.innerText = "  > " + priced * data2[i].count + " ₸"
            }
            else{
                asd.style.display = "none"
                asds.innerText = ""
            }
        }
        else if (section == 3){
            let priced = parseInt(data2[i].price.replace(/\s/g, ''))
            if (data2[i].count != 0){
                data2[i].count = data2[i].count - 1
                summ = summ - priced
                d.innerText = summ
            }        
            
            if (a.innerText != "0"){
                a.innerText = parseInt(a.innerText) - 1 
            }

            let asd = document.querySelector(`.ablock2_${i+1} .action`)
            let asds = document.querySelector(`.aprice2_${i+1}`)
            if (data2[i].count != 0){
                asd.style.display = "flex"
                asds.innerText = "  > " + priced * data2[i].count + " ₸"
            }
            else{
                asd.style.display = "none"
                asds.innerText = ""
            }
        }
        else if (section == 5){
            let priced = parseInt(data3[i].price.replace(/\s/g, ''))
            if (data3[i].count != 0){
                data3[i].count = data3[i].count - 1
                summ = summ - priced
                d.innerText = summ
            }        
            
            if (a.innerText != "0"){
                a.innerText = parseInt(a.innerText) - 1 
            }

            let asd = document.querySelector(`.block3_${i+1} .action`)
            let asds = document.querySelector(`.block3_${i+1} .price_${i+1}`)
            if (data3[i].count != 0){
                asd.style.display = "flex"
                asds.innerText = "  > " + priced * data3[i].count + " ₸"
            }
            else{
                asd.style.display = "none"
                asds.innerText = ""
            }
        }
        else if (section == 6){
            let priced = parseInt(data3[i].price.replace(/\s/g, ''))
            if (data3[i].count != 0){
                data3[i].count = data3[i].count - 1
                summ = summ - priced
                d.innerText = summ
            }
            if (a.innerText != "0"){
                a.innerText = parseInt(a.innerText) - 1
            }
            let asd = document.querySelector(`.ablock3_${i+1} .action`)
            let asds = document.querySelector(`.ablock3_${i+1} .price_${i+1}`)
            if (data3[i].count != 0){
                asd.style.display = "flex"
                asds.innerText = "  > " + priced * data3[i].count + " ₸"
            }
            else{
                asd.style.display = "none"
                asds.innerText = ""
            }
        }
        else{
            let priced = parseInt(data1[i].price.replace(/\s/g, ''))
            if (data1[i].count != 0){
                data1[i].count = data1[i].count - 1
                summ = summ - priced
                d.innerText = summ
            }        
            if (a.innerText != "0"){
                a.innerText = parseInt(a.innerText) - 1
            }
            let asd = document.querySelector(`.sblock_${i+1} .action`)
            let asds = document.querySelector(`.sprice_${i+1}`)
            if (data1[i].count != 0){
                asd.style.display = "flex"
                asds.innerText = "  > " + priced * data1[i].count + " ₸"
            }
            else{
                asd.style.display = "none"
                asds.innerText = ""
            }
        }
    }
    function plus(i, section){
        i = i - 1
        let a = event.srcElement.parentNode.children[1].children[0]
        let d = document.querySelector('.summ')
        if (section == 1){
            let price = parseInt(data1[i].price.replace(/\s/g, ''))
            a.innerText = parseInt(a.innerText) + 1
            data1[i].count = data1[i].count + 1
            summ = summ + price
            d.innerText = summ

            let asd = document.querySelector(`.block_${i+1} .action`)
            asd.style.display = "flex"

            let asds = document.querySelector(`.price_${i+1}`)
            asds.innerText = "  > " + price * data1[i].count + " ₸"
        }
        else if (section == 2) {
            let price = parseInt(data2[i].price.replace(/\s/g, ''))
            a.innerText = parseInt(a.innerText) + 1
            data2[i].count = data2[i].count + 1
            summ = summ + price
            
            d.innerText = summ

            let asd = document.querySelector(`.block2_${i+1} .action`)
            asd.style.display = "flex"

            let asds = document.querySelector(`.price2_${i+1}`)
            asds.innerText = "  > " + price * data2[i].count + " ₸"
        }
        else if(section == 3){
            let price = parseInt(data2[i].price.replace(/\s/g, ''))
            a.innerText = parseInt(a.innerText) + 1
            data2[i].count = data2[i].count + 1
            summ = summ + price
            
            d.innerText = summ

            let asd = document.querySelector(`.ablock2_${i+1} .action`)
            asd.style.display = "flex"

            let asds = document.querySelector(`.aprice2_${i+1}`)
            asds.innerText = "  > " + price * data2[i].count + " ₸"
        }
        else if (section == 5){
            let price = parseInt(data3[i].price.replace(/\s/g, ''))
            a.innerText = parseInt(a.innerText) + 1
            data3[i].count = data3[i].count + 1
            summ = summ + price
            d.innerText = summ

            let asd = document.querySelector(`.block3_${i+1} .action`)
            asd.style.display = "flex"

            let asds = document.querySelector(`.block3_${i+1} .price_${i+1}`)
            asds.innerText = "  > " + price * data3[i].count + " ₸"
        }
        else if(section == 6){
            let price = parseInt(data3[i].price.replace(/\s/g, ''))
            a.innerText = parseInt(a.innerText) + 1
            data3[i].count = data3[i].count + 1
            summ = summ + price
            d.innerText = summ

            let asd = document.querySelector(`.ablock3_${i+1} .action`)
            asd.style.display = "flex"

            let asds = document.querySelector(`.ablock3_${i+1} .price_${i+1}`)
            asds.innerText = "  > " + price * data3[i].count + " ₸"
        }
        else{
            let price = parseInt(data1[i].price.replace(/\s/g, ''))
            a.innerText = parseInt(a.innerText) + 1
            data1[i].count = data1[i].count + 1
            summ = summ + price
            d.innerText = summ

            let asd = document.querySelector(`.sblock_${i+1} .action`)
            asd.style.display = "flex"

            let asds = document.querySelector(`.sprice_${i+1}`)
            asds.innerText = "  > " + price * data1[i].count + " ₸"
        }
    }

    function doorderChech(){
        let items = document.querySelector('.listCheckItems')
        let checkBtn = document.querySelector('.checkBtn')
        let modalOnePrice = document.querySelector('.modalOnePrice')
        let htmls = ""
        let summ = 0
        for (let i in data1){
            if (data1[i].count > 0){
                let price = parseInt(data1[i].price.replace(/\s/g, ''))
                htmls += `<div class="listCheckItem">
                            ${data1[i].name} x <span class="minusModal" onclick="minusModal(1, ${i})">-</span> <span class="listitemcount">${data1[i].count}</span>
                            <span class="plusModal" onclick="plusModal(1, ${i})">+</span> = <span class="listitemsumm"> ${data1[i].count * price}</span> ₸
                        </div>`
                summ += data1[i].count * price
            }
        }
        for (let i in data2){
            if (data2[i].count > 0){
                let price = parseInt(data2[i].price.replace(/\s/g, ''))
                htmls += `<div class="listCheckItem">
                            ${data2[i].name} x <span class="minusModal" onclick="minusModal(2, ${i})">-</span> <span class="listitemcount">${data2[i].count}</span>
                            <span class="plusModal" onclick="plusModal(2, ${i})">+</span> = <span class="listitemsumm"> ${data2[i].count * price}</span>  ₸
                        </div>`
                summ += data2[i].count * price
            }
        }
        for (let i in data3){
            if (data3[i].count > 0){
                let price = parseInt(data3[i].price.replace(/\s/g, ''))
                htmls += `<div class="listCheckItem">
                            ${data3[i].name} x <span class="minusModal" onclick="minusModal(3, ${i})">-</span> <span class="listitemcount">${data3[i].count}</span>
                            <span class="plusModal" onclick="plusModal(3, ${i})">+</span> = <span class="listitemsumm"> ${data3[i].count * price}</span>  ₸
                        </div>`
                summ += data3[i].count * price
            }
        }
        if (htmls.length < 1){
            items.innerHTML = '<div class="isEmptyItems">Вы еще не выбрали</div>'
            checkBtn.style.cursor = "no-drop"
            checkBtn.disabled = true
            modalOnePrice.parentNode.style.display = "none"
        }else{
            items.innerHTML = htmls
            modalOnePrice.parentNode.style.display = "block"
            modalOnePrice.innerText =  summ
            checkBtn.style.cursor = "pointer"
            checkBtn.disabled = false
        }
        let modal = document.querySelector('.modal1')       
        modal.classList.toggle('show')
    }
    function minusModal(data, ind){
        let listitemcount = event.srcElement.parentNode.children[1]
        let listitemsumm = event.srcElement.parentNode.children[3]
        let modalOnePrice = document.querySelector('.modalOnePrice')
        if (data == 1){
            let price = parseInt(data1[ind].price.replace(/\s/g, ''))
            if (data1[ind].count != 0){
                data1[ind].count -= 1
                listitemcount.innerText = data1[ind].count
                modalOnePrice.innerText = parseInt(modalOnePrice.innerText) - price
                listitemsumm.innerText = data1[ind].count * price
            }
        }
        else if( data == 2){
            let price = parseInt(data2[ind].price.replace(/\s/g, ''))
            if (data2[ind].count != 0){
                data2[ind].count -= 1
                listitemcount.innerText = data2[ind].count
                modalOnePrice.innerText =parseInt(modalOnePrice.innerText) - price
                listitemsumm.innerText = data2[ind].count * price
            }
        }
        else{
            let price = parseInt(data3[ind].price.replace(/\s/g, ''))
            if (data3[ind].count != 0){
                data3[ind].count -= 1
                listitemcount.innerText = data3[ind].count
                modalOnePrice.innerText =parseInt(modalOnePrice.innerText) - price
                listitemsumm.innerText = data3[ind].count * price
            }
        }
        
    }
    function plusModal(data, ind){
        let listitemcount = event.srcElement.parentNode.children[1]
        let listitemsumm = event.srcElement.parentNode.children[3]
        let modalOnePrice = document.querySelector('.modalOnePrice')
        if (data == 1){
            let price = parseInt(data1[ind].price.replace(/\s/g, ''))
            data1[ind].count += 1
            listitemcount.innerText = data1[ind].count
            modalOnePrice.innerText = parseInt(modalOnePrice.innerText) + price
            listitemsumm.innerText = data1[ind].count * price
        }
        else if (data == 2){
            let price = parseInt(data2[ind].price.replace(/\s/g, ''))
            data2[ind].count += 1
            listitemcount.innerText = data2[ind].count
            modalOnePrice.innerText = parseInt(modalOnePrice.innerText) + price
            listitemsumm.innerText = data2[ind].count * price
        }
        else{
            let price = parseInt(data3[ind].price.replace(/\s/g, ''))
            data3[ind].count += 1
            listitemcount.innerText = data3[ind].count
            modalOnePrice.innerText = parseInt(modalOnePrice.innerText) + price
            listitemsumm.innerText = data3[ind].count * price
        }
    }

    function nextModal(){
        doorderChech()
        let modal = document.querySelector('.modal2')       
        modal.classList.toggle('show')
    }

    function dodo() {
        event.preventDefault();
        let name = document.querySelector('#name')
        let address = document.querySelector('#address')
        let phone =  document.querySelector('#phone')
        if (name.value.length < 3){
            name.classList.add('error')
            document.querySelector('.error_name').innerText = "Заполните поле"
        }
        else if (address.value.length < 3){
            address.classList.add('error')
            document.querySelector('.error_address').innerText = "Заполните поле"
        }
        else{
            name.classList.remove('error')
            address.classList.remove('error')
            document.querySelector('.error_name').innerText = ""
            document.querySelector('.error_address').innerText = ""
            $.ajax({
                type: 'POST',
                url: "{% url 'add' %}",
                data: {
                    name: name.value,
                    address: address.value,
                    phone: phone.value,
                    summ: document.querySelector('.summ').innerText,
                    razdel: razdel,
                    data1: JSON.stringify(data1),
                    data2: JSON.stringify(data2),
                    data3: JSON.stringify(data3),
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                },
                success: function (response) {
                    console.log("success")
                    alert("Ваша заявка отправлена")
                },
                error: function (response) {
                    console.log("error")                
                }
            })
            let modal = document.querySelector('.modal2')       
            modal.classList.toggle('show')
        }
    }
</script>
</body>
</html>